<div class="login-container">
    <div class="waviy">
        <span style="--i:1">I</span>
        <span style="--i:2">N</span>
        <span style="--i:3">I</span>
        <span style="--i:4">C</span>
        <span style="--i:5">I</span>
        <span style="--i:6">A</span>
        <span style="--i:7">R</span>
        <span style="--i:8">&nbsp;</span>
        <span style="--i:9">S</span>
        <span style="--i:10">E</span>
        <span style="--i:11">S</span>
        <span style="--i:12">I</span>
        <span style="--i:13">O</span>
        <span style="--i:14">N</span>
    </div>

    <twitch-login   (callback)="out($event)"
                    label="Login Twitch 🚀">
    </twitch-login>
</div>

{{outCb | json}}