.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.to-top{
  cursor: pointer;
	color:rgb(61, 61, 61);
	padding-top:2.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:1.5em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em rgb(148, 52, 52);
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:rgb(37, 70, 255);
	border-color:rgb(72, 33, 245);
}
.to-top:hover:before{
	transform: rotate(360deg);
}

.lifelines-container{
	margin-top: 10px;
}