.board-wrapepr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.player-name-title{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10%;
  align-items: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


.lifelines-container{
	margin-top: 10px;
}

// Next Question Btn

.next-question-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}
/* CSS */
.button-66 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  text-align: center;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

.button-66:disabled,
.button-66[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  opacity: 0.5;
}


@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}

// Answer reveal container
.answer-image-reveal-container{
  position: absolute;
  top: 20%;
  border: black 1px solid;
  background-color: white;
}
/*==============================================*/
/*============== USERNAME STYLING ==============*/
/*==============================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.area {
  text-align: center;
  font-size: 5em;
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

.area-animated {
  text-align: center;
  font-size: 5em;
  color: #fff;
  font-weight: 700;
  animation: blur 2s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}




